<!doctype html>
<html lang="en">
  <head>
    {% include "/partials/head.html" %}
    {% include "/partials/navbar.html" %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="well" id="intro">
        <h1>Cloud Computing y Machine Learning abierto para el mundo</h1>
        <h2>Una aplicación de ejemplo de cómo funciona un simple servicio de aprendizaje automático</h2>
        <p>
          Durante mucho tiempo la inteligencia artificial (y, por ende, su rama: el aprendizaje automático)
          han sido conceptos esotéricos reservados para aquellos que poseyeran no solamente los datos necesarios para alimentar a los algoritmos,
           sino también el poder de procesamiento para entrenar a éstos en un tiempo razonable. Estamos en una fase de cambio,
           en la que se están abriendo puertas que anteriormente estaban cerradas.
        </p>
        <h3>XaaS (X as a Service)</h3>
        <p>
          Gracias a la existencia de las redes entre computadoras, comenzó una nueva rama de la computación conocida como el
           procesamiento o computación en paralelo, significando esto que varios sistemas autónomos trabajan
           como uno, aumentando el poder de cómputo que se posee para resolver las necesidades de una organización o usuario. Entre otras cosas,
           ha surgido el concepto de XaaS (X as a Service), siendo éste el ofrecimiento de distintas soluciones
           a través de la nube. La Infraestructura como un Servicio (IaaS) permite a empresas crecientes
           montar la arquitectura de su servicio contratando a ésta, y resultándoles una inversión de corto plazo
           que agiliza su proceso de desarrollo y les abstrae de la realidad que traen los crecientes problemas de escalabilidad
           en un mundo cada vez más conectado. El SaaS (Software as a Service) consiste en soluciones pre-hechas que
           ya resuelven una problemática de negocio. Ahora también está surgiendo MLaaS (Machine Learning as a Service),
           o aprendizaje automático como un servicio, que ofrece tanto la infraestructura como el software necesario
           poder automatizar y llevar a cabo tareas de estimación y clasificación de los datos.
        </p>
        <h3>MLaaS (Machine Learning as a Service)</h3>
        <p>
          Machine Learning, o <strong>el aprendizaje automático</strong>, consiste en una rama de la inteligencia
          artificial cuyo objetivo es, a grandes rasgos, el de permitir que las computadoras puedan "aprender".
          Es un tópico recurrente de discusión el qué es aprender, y se puede decir con mucha confianza que las computadoras no
          aprenden de la misma forma que un humano, sino que logran clasificar y estimar diferentes casos mediante el uso de
          algoritmos y estimación de parámetros. Vendría a ser estadística aplicada a la computación, pero eso sería
          desestimar los esfuerzos de cientos de investigadores. El aprendizaje automático es una unidad de investigación
          autónoma que existe desde el comienzo de la computación con el famoso paper de Allan M. Turing: "Computing Machinery and Intelligence"
          y que ha avanzado a pasos agigantados.
        </p>
        <p>
          Hace no más que poco más de una década, el aprendizaje automático era una meta imposible,
          disponible únicamente a aquellos gigantes con el poder de cómputo suficiente y el volumen de datos necesario
          para entrenar un algoritmo de aprendizaje automático. Con la masificación de los servicios en la nube,
          el esoterismo ha desaparecido y ahora es posible que quien desee entrenar un algoritmo de aprendizaje automático
          y automatizar tareas que de otra manera solamente podría realizar un ser humano, pueda hacerlo con los servicios
          disponibles en la nube. Estas tareas son <em>reconocer patrones en los datos para poder obtener información valiosa en tiempo real.</em>
          Si bien hay varias ramas del análisis de datos, el aprendizaje automático utiliza algoritmos que "aprenden" de casos
          pasados para poder clasificar o estimar nuevos casos. A esto se le conoce como <strong>aprendizaje supervisado</strong>.
        </p>
      </div>
    </div>
  </body>
</html>
